.login-page {
	width: 650px;
	height: 330px;
	display: block;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #4a657c;
    background: rgba(255, 255, 255, 0.8);
}

.left-area {
	display: inline-table;
	width: 230px;
	background-color: #775717;
	height: 100%;
	vertical-align: top;
}

.right-area {
	display: inline-table;
	width: 420px;
	background-color: transparent;
	height: 100%;
	vertical-align: top;
	padding: 20px;
}

.no-padding {
	padding: 0;
}