.nav-wrapper {
	height: 100px;
	width: 100%;
	background-color: #007ac7;
	color: white;
	position: relative;
	padding: 20px 50px;
}

.right-panel {
	float: right;
}

.right-panel ul {
	display: block;
}

.right-panel ul li {
	display: inline-block;
	text-transform: capitalize;
}

.right-panel ul li a{
	padding: 0 5px;
	border-left: 1px solid #ccc;
	color: rgba(107,128,175,1);
	text-decoration: none;
}

.right-panel ul li:first-child a {
	border-left: none;
}

.right-panel ul li:hover a {
	color: #ccc;
}

.left-panel {
	float: left;
	height: 100%;
}

.left-panel img {
	margin: 0;
}

.username {
	font-size: 18px;
	display: block;
	margin: 0;
	color: #FFF;
	font-weight: bold;
}

.navigation {
	height: 30px;
	width: 100%;
	background-color: #007ac7;
}

.navigation ul {
	display: block;
	list-style: none;
	margin: 0;
	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.navigation ul li {
	display: inline-block;
	height: 100%;
	padding: 0 10px;
	color: inherit;
	text-decoration: none;
}

.navigation ul li a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	text-transform: capitalize;
}

.navigation ul li.active, .navigation ul li:hover {
	background-color: #00b5fe;
}