.primary {
	outline: none;
	text-transform: capitalize;
	height: 35px;
	padding: 0;
	margin: 0;
	text-align: center;
	padding: 5px 25px;
	border-radius: 20px;
	font-size: 80%;
	background: #00426b;
	color: #fff;
	border: none;
	font-weight: bolder;
}

.simple {
	outline: none;
	text-transform: capitalize;
	height: 35px;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 100%;
	background: transparent;
	color: black;
	border: none;
	font-weight: bolder;
	margin: 10px;
	border: #6c6969 1px solid;
}

button.primary:hover,
button.primary:active,
button.primary.active {
	background-color: #076098;
}

button:focus {
	outline:0 !important;
}

button.simple:hover,
button.simple:active,
button.simple.active {
	background-color: #35a018;
}

button:focus {
	outline:0 !important;
}