@font-face {
  font-family: 'Hadron Set Pro';
  src: url(/assets/fonts/theme-icons-Medium.woff);
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: 'Hadron Set Pro';
  src: url(/assets/fonts/theme-icons-Light.woff);
  font-style: normal;
  font-weight: normal;
}

/*@font-face {
  font-family: 'Hadron Set Pro';
  font-style: normal;
  src: url(/assets/fonts/theme-icons.ttf);
}*/

@font-face {
  font-family: 'Hadron Set Pro';
  src: url(/assets/fonts/theme-icons-Light.woff);
   font-style: lighter;
  font-weight: lighter;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

