@import 'select/react-select.css';
.Select, .Select-input, .Select-placeholder, 
.Select-control {
	height: 30px !important;
}
html {
	width: 100%;
	height: 100%;
	font-size: 15px;
	font-family: 'Hadron Set Pro','Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    quotes: "“" "”";
    font-weight: lighter !important;
    letter-spacing: 1px;
}

.table-bordered {
	margin-bottom: 0 !important;
}


body {
	min-height: 100%;
	background: rgba(0,0,0,0.5) url(/assets/images/bg/bleu-bg.jpg) center center/cover fixed no-repeat !important
}

#school-app {
	min-height: 100%;
	position: relative;
	display: block;
}

.login-page {
	width: 350px;
	min-height: 200px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-shadow: 0 0 100px #9599a2;
	border-radius: 20px;
	background: #9599a2;
}

form[name='LoginForm'] .input-container {
	height: 50px;
	width: 100%;
	position: relative;
	border: none;
	margin-bottom: 10px;
}

span.login-error {
	display: block;
	text-align: center;
	color: red;
	width: 100%;
	font-weight: 400;
	letter-spacing: 1px;
}

.input-container input {
	width: 100%;
	height: 30px;
	bottom: 0;
	left: 0;
	position: absolute;
	border: none;
	background: white;
	padding: 0 10px;
	border-bottom:1px solid #757575;
	font-weight: 400;
}

input:focus { 
	outline:none; 
}

.input-container label {
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 15px;
	font-weight: 200;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

.input-container.empty label {
	position: absolute;
	top: 25px;
	left: 10px;
	z-index: 10;
	color: gray;
}


.bar { 
	position:absolute; 
	display:block; 
	width:100%; 
	bottom: 0;
}
.bar:before, 
.bar:after 	{
	content:'';
	height:2px; 
	width:0;
	bottom:1px; 
	position:absolute;
	background:#5264AE; 
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

.bar:before {
	left:50%;
}

.bar:after {
	right:50%; 
}

input:focus ~ .bar:before, 
input:focus ~ .bar:after {
	width:50%;
}

.highlight {
	position:absolute;
	height:60%; 
	width:100px; 
	bottom: 0;
	left:0;
	pointer-events:none;
	opacity:0.5;
}

input:focus ~ .highlight {
	-webkit-animation:inputHighlighter 0.3s ease;
	-moz-animation:inputHighlighter 0.3s ease;
	animation:inputHighlighter 0.3s ease;
}




/*
* NAVIGATION 
*/
#header {
	height: 50px;
	width: 100%;
	background-color: #4e5463;
	padding: 0 20px 0 0;
	position: fixed;
	z-index: 999999;
	color: white;
	font-weight: 200;
	border-bottom: 1px solid black;
}

.bold {
	font-weight: bold;
}

#header span {
	display: inline-block;
	height: 100%;
	line-height: 50px;
}

.logo {
	float: left;
	height: 100%;
	margin-right: 0;
	width: 40px;
	color: white;
}

.logo img {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 10px;
	left: 5px;
	color: white;
}

span.title {
	margin-right: 20px;
	position: absolute;
	left: 50px;
}
span.user-info {
	display: inline-block;
}

.header-search {
	height: 100%;
	width: 300px;
	padding: 10px;
	position: absolute;
	left: calc(50% - 150px);
}

.header-search input {
	height: 100%;
	width: 100%;
	border-radius: 20px;
	padding: 0 40px 0 10px;
}

input[name='q'] {
	background-color: white;
	background-image: url(../images/icons/search.png);
	background-position: 250px 5px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	font-size: 1.2vw;
}

.user-panel {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 20px;
}

.user-panel>ul {
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
}

.user-panel>ul li {
	display: inline-block;
	list-style: none;
	padding: 0 10px;
}

.user-panel ul ul {
	width: 150px;
	padding: 0;
	margin: 0;
	background-color: #76a5af;
	position: absolute;
	right: 0;
	display: none;
}

.user-panel ul ul li {
	display: block;
	height: 30px;
	border-bottom: 1px solid gray;
	padding-left: 40px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 10px 5px;
}

.settings {
	background-image: url(../images/icons/settings.png);
}

.help {
	background-image: url(../images/icons/help.png);
}

.logout {
	background-image: url(../images/icons/signout.png);
}

.user-panel ul ul li:hover {
	background-color: #0f5c6d;
}

.user-panel ul ul li a {
	text-decoration: none;
}

.user-panel>ul>li:hover ul {
	display: block;
}

.user-panel ul ul li a {
	display: block;
	height: 100%;
	width: 100%;
	line-height: 30px;
}

a.profile {
	width: 30px;
	height: 30px;
	border: none;
	display: block;
	margin: 10px 0;
	padding: 0;
	line-height: 30px;
	text-align: center;
	border-radius: 15px;
	font-size: 1.5vw;
	background-color: #0f5c6d;
	color: white !important;
	font-weight: lighter !important;
	overflow: hidden;
}

a.profile img {
	width: 30px;
	height: 30px;
}

.user-panel a {
	color: black;
	font-weight: 600;
}


/*****************
* SIDEBAR
******************/
#sidebar {
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 50px 0 0 0;
	background: #2a3542;
	color: gray;
	z-index: 3;
}

#sidebar ul {
	width: 100%;
	padding: 0;
	margin:0;
	list-style: none;
}

#sidebar ul li {
	width: 100%;
	height: 40px;
	display: block;
	position: relative;
	border-left: 5px solid transparent;
	line-height: 40px;
	color: gray;
	font-size: 15px;
	font-family: "fontAwesome";
	cursor: pointer;
}


#sidebar li.active {
	border-left-color: #4e98b0;
	background: #35404d;
}

#sidebar li:hover {
	border-left-color: #4e98b0;
}

#sidebar li {
	padding-left: 40px;
}

#sidebar li i {
	position: absolute;
	left: 10px;
	top: 10px;
	color: #fefefe;
}

#sidebar li a {
	width: 100%;
	height: 100%;
	display: block;
	color: #cccccc;
	text-decoration: none;
}


/************
* Main Panel
*************/
#main-panel {
	display: block;
	position: fixed;
	width: 100%;
	min-height: 100%;
	padding: 50px 0 0 260px;
	top: 0;
	left: 0;
	background: #eaedf1;
	z-index: 2;
	color: black;
	font-family: 'fontAwesome';
}

.user-dashboard {
	width: 100%;
	display: block;
	min-height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.dashboard-action-group {
	width: 100%;
	min-height: 500px;
	display: block;
	display: table;
	text-align: center;
}

.action-btn {
	width: 150px;
	height: 100px;
	border-radius: 5px;
	padding: 0;
	margin: 20px;
	position: relative;
	background: #8ca3b6;
	color: #ffffff;
	vertical-align: top;
}

button:disabled {
	opacity: 0.65; 
	cursor: not-allowed;
}

.action-btn i {
	top: 0;
	left: 0;
	height: 60px;
	font-size: 50px !important;
	display: block;
}

.action-btn .badge {
	position: absolute;
	top: 5px;
	right: 5px;
	background: #417799;
}

table {
	width: calc(100% - 10px);
}

table tr th, 
td {
	text-align: left !important;
}

