.wrapper {
	max-width: 1000px;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	font-size: 11px;
	border: 2px solid #003060;
}

.content {
	width: 100%;
	padding: 20px;
}

.healthcare-name {
	font-size: 18px;
	font-weight: bolder;
	display: block;
	text-transform: capitalize;
}

.apps-list {
	width: 100%;
	list-style: none;
	margin-top: 20px;
}

.apps-list li {
	width: 140px;
	height: 136px;
	display: inline-block;
	border-right: 1px solid red;
}

.apps-list li:last-child {
	border-right: none;
}

.img-holder {
	display: block;
	height: 73px;
	width: 90px;
	margin: auto;
	margin-bottom: 20px;
}

.img-holder img {
	width: 100%;
	transition: all .2s ease;
}

.apps-list li:hover img {
	margin-top: 10px;
}

.apps-list li a {
	display: block;
	width: 100%;
	height: calc(100% - 34px);
	margin: 17px 0;
	text-decoration: none;
}

.app-name {
	display: block;
	width: 100%;
	text-align: center;
	text-transform: capitalize;
	color: black;
}