.checkbox-wrapper {
	width: auto;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	text-transform: capitalize;
}

.checkbox-wrapper input {
	margin-right: 10px;
	line-height: 100%;
}

