{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/school.fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'css/materials.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/school.main.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/invoice.manager.sidebar.css' %}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/invoice.manager.listview.css' %}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/invoice.manager.detailview.css' %}"> -->
    <!-- other static files -->
    <title>Healthcare | {{title}}</title>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  <script src="{% static 'common/js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'common/js/bootstrap.min.js' %}" type="text/javascript"></script>
   
</html>
