.table {
	margin: 0;
}

.table thead {
	background-color: #775717;
	color: #fff;
}

.table tbody tr {
	background-color: #fff;
	cursor: pointer;
	transition: all .5s linear;
}

.table tbody tr:hover {
	opacity: .7;
}

