.wrapper {
	max-width: 1000px;
	width: 100%;
	min-height: 100%;
	margin: 0 auto;
	font-size: 11px;
	border: 2px solid #003060;
}

.content {
	width: 100%;
	padding: 20px;
}

.action-row {
	width: 100%;
	height: 40px;
}